@model MedicalExamination.ViewModels.DoctorViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>العيادات التي تعمل بها</h2>

<p>
    @Html.ActionLink("اضافة عيادة", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clinic.ClinicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clinic.DayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clinic.From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clinic.To)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clinic.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Clinics) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClinicName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.To)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("تعديل", "Edit", new { id=item.Id }) |
            @Html.ActionLink("حذف", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
