@model MedicalExamination.ViewModels.PostsViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<iframe src="#"></iframe>*@
<div class="container-fluid gedf-wrapper">
    <div class="row" style="text-align:right">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="h5">@@LeeCross</div>
                    <div class="h7 text-muted">Fullname : Miracles Lee Cross</div>
                    <div class="h7">
                        Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
                        etc.
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h6 text-muted">Followers</div>
                        <div class="h5">5.2342</div>
                    </li>
                    <li class="list-group-item">
                        <div class="h6 text-muted">Following</div>
                        <div class="h5">6758</div>
                    </li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 gedf-main">
            @foreach (var item in Model.Categories)
            {
                <div class="panel panel-default col-md-12" style="padding:15px">
                    <h3 class="panel-heading">@Html.DisplayFor(modelItem => item.CategoryName)</h3>
                    @foreach (var subItem in item.Posts)
                    {
                        @*<div class="col-md-8 thumbnail">
                                <div class="card col-md-8" style="margin-bottom:15px;border:initial">
                                    <div class="card-header row" style="background-color:#EEE">
                                        <div>
                                            <p>
                                                <h4 style="text-decoration-style:solid">@Html.ActionLink(subItem.Patient.UserName, "Details", new { patientid = subItem.Patient.Id })</h4>
                                            </p>
                                            <div style="float:left;margin-top: -17px;">
                                                <h6 style="margin-left:2px">@Html.DisplayFor(modelItem => subItem.PostDate)</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h4 style="margin-left:2px">@Html.DisplayFor(modelItem => subItem.PostContant)</h4>
                                    </div>
                                    @if (ViewBag.PatientId == subItem.PatientId)
                                    {
                                        <div class="col-md-12" id="PostComment">
                                            <form action="/Comments/Create" method="post">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="DoctorId" value="@subItem.PatientId" />
                                                <input type="hidden" name="PostId" value="@subItem.Id" />
                                                <div class="row form-group" style="margin-top:20px">
                                                    <textarea name="CommentContent" style="width:600px;height:50px;"></textarea>
                                                    @Html.ValidationMessageFor(model => model.Comment.CommentContent, "", new { @class = "text-danger" })
                                                    <input type="submit" value="Create" class="btn btn-default" />
                                                </div>
                                            </form>
                                        </div>
                                    }
                                    <div class="card-footer col-md-10" style="background-color:#EEE;overflow: auto;">
                                        @foreach (var row in subItem.Comments)
                                        {
                                            <div class="card" style="background-color:white;margin-bottom:10px">
                                                <div class="card-header">
                                                    <div>
                                                        <h4><a href="@Url.Action("Details","Doctors", new { doctorid = row.Doctor.Id })">@row.Doctor.UserName</a></h4>
                                                        <small style="margin-left:5px">@Html.DisplayFor(modelItem => row.CommentDate)</small>
                                                    </div>
                                                </div>
                                                <div class="card-body" style="margin-left:10px;word-wrap:break-word">
                                                    @Html.DisplayFor(modelItem => row.CommentContent)
                                                </div>
                                                <div class="card-footer">
                                                    @if (ViewBag.PatientId == subItem.PatientId)
                                                    {
                                                        <div style="float:left;margin-top: -17px;">
                                                            <a href="@Url.Action("Delete","Comments",new { id = row.Id})">Delete</a>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>*@

                        <div class="card gedf-card">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="mr-2">
                                            <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                                        </div>
                                        <div class="ml-2">
                                            <div class="h5 m-0">@Html.ActionLink(subItem.Patient.UserName, "Details", new { patientid = subItem.Patient.Id })</div>
                                            <div class="h7 text-muted">@subItem.Patient.UserType</div>
                                        </div>
                                    </div>
                                    <div>
                                        @Html.ActionLink("Delete", "Delete", new { patientid = subItem.Patient.Id })
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>@subItem.PostDate</div>
                                <p class="card-text">
                                    @subItem.PostContant
                                </p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-light" onclick="createModal()"><i class="fa fa-comment"></i> التعليقات</a>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="col-md-3">
            <div class="card gedf-card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            <div class="card gedf-card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function createModal() {
        $('#myModal').modal('show');
    }
</script>

@*<div class="container-fluid">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="modalContent">

            </div>
        </div>
    </div>
</div>*@


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modalContent">
            <div class="modal-header" style="text-align:center">
                <h5 class="modal-title" id="exampleModalLabel">Post Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body col-md-12" style="text-align:center">
                @if (Model.CommentsViewModel.Count() > 0)
                {

                    foreach (var comment in Model.CommentsViewModel)
                    {
                        <div class="card gedf-card">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="mr-2">
                                            <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                                        </div>
                                        <div class="ml-2">
                                            @if (ViewBag.UserType == "دكتور")
                                            {
                                                <div class="h5 m-0">@Html.ActionLink(comment.OwnerName, "ViewProfile_Doctor", "Doctor", new { doctorId = comment.Comment.DoctorId }, null)</div>
                                            }
                                            else if (ViewBag.UserType == "مريض")
                                            {

                                                <div class="h5 m-0">@Html.ActionLink(comment.OwnerName, "ViewProfile_Patient", "Patient", new { patientId = comment.Comment.DoctorId }, null)</div>
                                            }

                                            <div class="h7 text-muted">comment</div>
                                        </div>
                                    </div>
                                    <div>
                                        @if (ViewBag.UserId == comment.Comment.DoctorId)
                                        {
                                            @Html.ActionLink("Delete", "Delete", "Comments", new { id = comment.Comment.Id })
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>@comment.Comment.CommentDate</div>
                                <p class="card-text">
                                    @comment.Comment.CommentContent
                                </p>
                            </div>
                            <div class="card-footer">
                                @*<a onclick="createModal('@Url.Action("Comments", "Comments", new { postId = subItem.Id })')" class="card-link"><i class="fa fa-comment"></i> التعليقات</a>*@
                            </div>
                        </div>

                    }
                }
                else
                {
                    <h3 class="text-primary">No comments to show !</h3>
                }
            </div>
        </div>
    </div>
</div>