@model MedicalExamination.Models.Doctor.Doctor
@using MedicalExamination.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @*Profile Info*@
    <div class="row">
        <input id="ID" type="hidden" value="@Model.Id" />
        <div>
            <h3>حسابي</h3>
            <hr />
            <div class="col-md-2 image-cropper">
                @if (Model.Gender == "ذكر")
                {
                    <img src="~/Images/Doctor-male.jpg" class="rounded" />
                }
                @if (Model.Gender == "انثي")
                {
                    <img src="~/Images/Doctor-female.jpg" class="rounded" />
                }

            </div>
            <dl class="col-md-2 dl-horizontal">
                <dt>البريد الالكتروني :</dt>
                <dd>@Html.DisplayFor(model => model.Email)</dd>
                <dt>رقم الموبايل :</dt>
                <dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>
                <dt>نوع المستخدم :</dt>
                <dd>@Html.DisplayFor(model => model.UserType) </dd>
                <dt>المدينة : </dt>
                @{string cityName = new ApplicationDbContext().Cities.FirstOrDefault(x => x.Id == Model.CityId).CityName;}
                <dd>@Html.DisplayFor(model => cityName)</dd>
                <dt>@Html.DisplayNameFor(model => model.Category.CategoryName)</dt>
                <dd>@Html.DisplayFor(model => model.Category.CategoryName)</dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Total_Rate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Total_Rate)
                </dd>

                <dt>
                    @Html.DisplayName("تقييم")
                </dt>
                <dd>
                    <select id="ratingList" onchange="Ratedoctor()">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </dd>

            </dl>
            </dl>
        </div>
    </div>
</div>


<script>
    @*$(document).ready(function () {
        $('#ratingList').change(function () {
            var docId = @Model.Id;
        $.ajax({
            url: '@Url.Action("RateDoctor", "Patients")',
            type: 'POST',
            data: { docId: docId, rate: $('ratingList').val() },

            success: function (data) {
                window.location.href = data;
            }
        });
    });
    });*@

    function Ratedoctor() {
        debugger;
        var docId = $("#ID").val();
        var rate = $("#ratingList").children("option:selected").val();

                $.ajax({
                    url: '@Url.Action("RateDoctor", "Patients")',
                    type: 'POST',
                    data: { docId: docId, rate: rate },
                    dataType: "json",
                    success: function (data) {
                        window.location.href = data;
                    },
                    error: function () {
                        alert("error");
                    }
                });
        }

</script>

