@model MedicalExamination.Models.Doctor.DoctorHospital
@using MedicalExamination.Models

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>هل أنت متأكد أنك تريد حذف هذا؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HospitalId)
        </dt>
        @{string Name = new ApplicationDbContext().Hospitals.FirstOrDefault(x => x.Id == Model.HospitalId).Name;}
        <dd>
            @Html.DisplayFor(model => Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.From)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.To)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" />
            
        </div>
    }
</div>
